<ion-header>
  <ion-toolbar>
    <div class="toolbar">
      <ion-title class="titulo">Produtos</ion-title>
      <ion-icon (click)="resumoCompra()" class="carrinhoIcone" name="cart-outline"></ion-icon> 
      <ion-badge *ngIf="carrinho.numeroDeProdutos()"color="primary">{{ carrinho.numeroDeProdutos()}}</ion-badge>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar (ionChange)="teclaDigita($event)"></ion-searchbar>

  <div class="vitrine">
    <ion-card class="itemCompra" *ngFor="let produto of produtos">
      <div class="container-imagem-produto">
        <img class="imagem-produto"src="{{produto.imagem}}" />
      </div>
      <ion-card-header class="itemHeader">
        <ion-card-subtitle class="nomeProduto">{{produto.nome}}</ion-card-subtitle>
        <ion-card-title class="precoProduto">RS {{produto.preco}}</ion-card-title>
      </ion-card-header>

      <ion-card-content class="lojaProduto">
        {{produto.fornecedor}}
      </ion-card-content> 

      <ion-button class="botaocarrinho" expand="full" (click)="adicionarNoCarrinho(produto)">
        <ion-icon name="cart-outline"></ion-icon>
        comprar
      </ion-button>
    </ion-card>

  </div>


</ion-content>